@import "./config";

body {
  overflow-x: hidden;
  direction: rtl;
  position: relative;
}

header {
  padding: 12px 0;
  background: $white;
  position: relative;

  .layer {
    position: absolute;
    top: 86px;
    left: 0;
    width: 100%;
    height: calc(100vh - 86px);
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
    opacity: 0;
    transition: $transition;
    transition-behavior: allow-discrete;
    &.show {
      display: block;
      opacity: 1;
    }
  }

  &.sticky {
    position: fixed;
    background-color: $white;
    box-shadow: $shadow;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    animation: 0.5s ease-in-out 0s normal none 1 running fadeInDown;
  }

  nav {
    display: flex;

    .logo {
      flex: 1;
      display: flex;
      align-items: center;

      h1 {
        font-size: 20px;
        font-weight: 600;
        margin: 0;
      }

      img {
        height: 62px;
      }
    }

    .nav_links {
      flex: 2;
      @include center-flex();
      gap: 48px;
      a {
        font-size: 14px;
        font-weight: 600;
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: $main;
          transition: width 0.3s ease-in-out;
          position: absolute;
          bottom: -4px;
          left: 50%;
          transform: translateX(-50%) skew(30deg);
        }

        &:hover,
        &.active {
          color: $main;
          &::after {
            width: 100%;
          }
        }
      }

      @media screen and (max-width: 768px) {
        position: fixed;
        right: -60%;
        top: 86px;
        height: calc(100vh - 86px);
        width: 60%;
        justify-content: flex-start;
        background: #fff;
        flex-direction: column;
        align-items: self-start;
        padding: 32px 24px;
        gap: 32px;
        z-index: 1;
        transition: $transition;
        &.show {
          right: 0;
        }
      }
    }

    .actions {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      gap: 16px;

      .toggle {
        display: none;

        @media screen and (max-width: 768px) {
          display: block;
        }
      }

      .download {
        border: 1px solid $main;
        color: $main;
        isolation: isolate;
        border-radius: 80px;
        padding: 8px 24px;
        position: relative;
        overflow: hidden;

        @media screen and (max-width: 576px) {
          display: none;
        }

        &::after {
          content: "";
          display: block;
          width: 0;
          height: 100%;
          background: $main;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: width 0.3s ease-in-out;
        }

        &:hover {
          color: $white;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

main {
  .hero_section {
    padding: 60px 0;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#ebf1f8, #fff);

    .patteren {
      position: absolute;
      width: fit-content;
      left: -60px;
      bottom: -60px;
      img {
        height: 430px;
        mix-blend-mode: darken;
        opacity: 0.1;
      }
    }

    @media (max-width: 576px) {
      padding: 52px 0 100px;
    }

    .img {
      width: 100%;
      @include center-flex();

      img {
        height: 500px;
        animation: swing-up-down 4s ease-in-out infinite;
      }

      @media (max-width: 576px) {
        padding-top: 32px;
        display: none;
      }
    }

    .text {
      height: 100%;
      gap: 8px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .emoji {
        font-size: 12px;
        font-weight: 700;
        color: $main;
        margin-bottom: 16px;
      }
      h1 {
        font-size: 40px;
        color: $dark;
        font-weight: 700;
        line-height: 1.5;
        span {
          font-size: 40px;
          font-weight: 700;
          line-height: inherit;
          display: inline-block !important;
          color: $main;
          text-transform: capitalize;
        }
        @media (max-width: 576px) {
          font-size: 32px;
          line-height: 52px;
          span {
            font-size: 32px;
          }
        }
      }
      p {
        margin-bottom: 24px;
        color: #777;
        @media (max-width: 576px) {
          font-size: 14px;
          line-height: 26px;
        }
      }
    }
  }

  .about_section {
    padding: 32px 0;

    .img {
      position: relative;
      overflow: hidden;
      @media screen and (max-width: 768px) {
        margin-bottom: 24px;
      }
      img {
        width: 100%;
        height: 450px;
        object-fit: contain;
        object-position: center;
      }
      .patteren {
        opacity: 0.07;
        width: 190%;
        z-index: -1;
        height: unset;
        @include center-absolute();
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      gap: 16px;
      h2 {
        font-size: 32px;
        font-weight: 600;
        color: $dark;
      }
      p {
        color: #777;
      }
    }
  }

  .how_section {
    padding: 60px 0;
    background: #EBF1F8;

    h4 {
      text-align: center;
      color: $main;
      margin-top: 16px !important;
      font-weight: bold;
      margin-bottom: 10px !important;
    }
    .subtitle {
      text-align: center;
      color: $dark;
      text-wrap: balance;
      margin-bottom: 54px !important;
    }

    .mockup {
      width: 100%;
      @include center-flex();
      img {
        max-width: 80%;
      }
    }

    .h-card {
      display: flex;
      flex-direction: row-reverse;
      text-align: end;
      gap: 20px;
      padding: 24px 0;
      @media screen and (max-width: 576px) {
        flex-direction: row;
        text-align: start;
      }
      .icon {
        display: flex;
        align-items: center;
        img {
          display: block;
          min-width: 64px;
          height: 64px;
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          color: $dark;
          text-wrap: balance;
          line-height: 24px;
        }
        h5 {
          color: $main;
          font-weight: 600;
        }
      }
      &.left {
        flex-direction: row;
        text-align: start;
      }
    }
  }

  .gallery {
    padding: 40px 0;
    .appImgs {
      padding: 40px 0;
      position: relative;
      h2 {
        color: $main;
        text-align: center;
        font-size: 28px;
        margin-bottom: 8px !important;
      }
      p {
        color: #777;
        font-size: 14px;
        text-align: center;
        margin-bottom: 32px !important;
      }
      .swiper {
        width: 100%;
        padding: 30px 0;
        position: relative;
        display: flex;
        .swiper-slide {
          overflow: hidden;
          background-position: center;
          background-size: cover;
          width: 234px;
          height: 507px;
          position: relative;
          @media (max-width: 768px) {
            width: 175.5px;
            height: 380px;
          }
          img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 16px;
          }
        }
        .frame {
          width: 267px;
          height: 532px;
          @media (max-width: 768px) {
            width: 202.5px;
            height: 401px;
          }
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
        }
      }
      .swiper-wrapper {
        height: auto;
      }
      .swiper-3d .swiper-slide-shadow,
      .swiper-3d .swiper-slide-shadow-bottom,
      .swiper-3d .swiper-slide-shadow-left,
      .swiper-3d .swiper-slide-shadow-right,
      .swiper-3d .swiper-slide-shadow-top {
        border-radius: 16px;
        box-shadow: 0px 2px 4px #00000010;
        border: 4px solid $white;
      }
      .swiper-3d .swiper-slide-shadow-left {
        background: linear-gradient(
          to left,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0)
        );
      }
      .swiper-3d .swiper-slide-shadow-right {
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0)
        );
      }
    }
  }

  .download-app {
    width: 100%;
    padding: 30px 0;
    height: 460px;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.753), #000000c2),
      url(../images/bg.jpg);
    background-size: cover;
    overflow: hidden;
    @media (max-width: 768px) {
      height: 650px;
      .app-imgs {
        margin-top: 60px;
      }
    }
    .container {
      height: 100%;
      .row {
        height: 100%;
        .img {
          height: 100%;
          display: flex;
          justify-content: center;
          position: relative;
          @media (max-width: 768px) {
            margin-top: 40px;
          }
          img {
            width: 52%;
            @media (max-width: 576px) {
              width: 62%;
            }
          }
        }
        h3 {
          color: $white;
          font-weight: 600;
          font-size: 40px;
          line-height: 72px;
          margin-bottom: 12px;
          @media (max-width: 450px) {
            font-size: 24px;
            line-height: 42px;
          }
        }
        p {
          color: $white;
        }
        .btns {
          margin-top: 16px;
          display: flex;
          gap: 24px;
          img {
            max-height: 48px;
          }
        }
      }
    }
  }

  .features {
    padding: 60px 0;

    .title {
      text-align: center;
      font-weight: 600;
      font-size: 18px;
    }

    .subtitle {
      text-align: center;
      margin-bottom: 32px;
    }

    .feature-card {
      padding: 24px;
      border-radius: 24px;
      box-shadow: $shadow;

      img {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }

      p {
        font-size: 14px;
        margin: 0;
      }
    }
  }
}

footer {
  padding: 24px 0;
  background: $main;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 24px;
    }

    .logo {
      display: flex;
      align-items: center;
      img {
        height: 60px;
        filter: brightness(0) invert(1);
      }

      h3 {
        color: $white;
        margin: 0;
        font-size: 22px;
      }
    }

    p {
      margin: 0;
      color: $white;
    }

    .socials {
      display: flex;
      align-items: center;
      gap: 16px;

      a {
        color: $white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 1px solid $white;
        transition: $transition;

        &:hover {
          background: $white;
          color: $main;
        }
      }
    }
  }
}

.contact_btn {
  position: fixed;
  left: 20px;
  bottom: 20px;
  background: $dark;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  @include center-flex();
  transition: $transition;
  box-shadow: $shadow;

  &:hover {
    background: $main;
  }
}

.provider_advantages {
  padding: 60px 0;
  .img {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    padding-right: 24px;
    position: relative;

    .patteren {
      opacity: 0.5;
      width: 100%;
      z-index: -1;
      height: unset;
      @include center-absolute();
    }

    @media (max-width: 768px) {
      padding-right: 0;
    }

    h3 {
      color: $main;
      font-weight: 600;
      font-size: 24px;
    }

    p {
      color: #777;
      font-weight: 600;
      font-size: 18px;
    }

    ul {
      padding-left: 16px;
      li {
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        gap: 8px;
        color: #777;
        font-weight: 600;

        &::before {
          content: "\f14a";
          font-family: "Font Awesome 6 Pro";
          display: block;
          color: $main;
          font-weight: normal;
        }
      }
    }

    h5 {
      color: $main;
      font-weight: 600;
    }
  }
}

.download_app_2 {
  padding: 40px 0;
  background: #ebf1f8;

  .img {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    height: 100%;
    padding-right: 24px;
    position: relative;

    h3 {
      color: $main;
      font-weight: 600;
      font-size: 32px;
    }

    p {
      color: #777;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
