@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@keyframes swing-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
* {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Tajawal", sans-serif;
  transition: scroll 0.5s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #181412;
}

button,
input {
  border: none;
  background: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 30px;
}

:target {
  scroll-margin-top: 100px;
}

input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button {
  display: none;
}
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.dropdown-toggle:active {
  background: #fff !important;
  border-color: #223d5b !important;
}

a,
button {
  transition: all 0.3s ease-in-out;
}

.dropdown-toggle::after {
  display: none;
}

.download_btns {
  display: flex;
  gap: 16px;
}
.download_btns img {
  height: 44px !important;
}

.modal-header {
  border-bottom: 0;
}
.modal-header .btn-close {
  padding: 0 !important;
  background: none !important;
  box-shadow: none !important;
  margin-inline-end: 0 !important;
  margin-inline-start: auto !important;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: relative;
  opacity: 1;
}
.modal-header .btn-close::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 6 Pro";
  content: "\f00d";
  font-size: 14px;
  color: #181412;
}
.modal-header .btn-close:hover {
  background: #e8e8e8 !important;
}
.modal-header h6 {
  color: #181412;
  margin-bottom: 0;
}

.modal-content {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
}

.modal .modal-xl {
  max-width: unset;
  margin: 20px auto;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
form .input_field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
form .input_field input,
form .input_field textarea {
  height: 48px;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #e8e8e8;
}
form .input_field input::-moz-placeholder, form .input_field textarea::-moz-placeholder {
  color: #989898;
}
form .input_field input::placeholder,
form .input_field textarea::placeholder {
  color: #989898;
}
form .input_field textarea {
  height: 100px;
  padding: 12px;
  outline: none;
}
form button {
  width: 100%;
  height: 48px;
  margin-top: 12px;
  border-radius: 12px;
  background: #223d5b;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
form button:hover {
  background: #181412;
}

body {
  overflow-x: hidden;
  direction: rtl;
  position: relative;
}

header {
  padding: 12px 0;
  background: #fff;
  position: relative;
}
header .layer {
  position: absolute;
  top: 86px;
  left: 0;
  width: 100%;
  height: calc(100vh - 86px);
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transition-behavior: allow-discrete;
}
header .layer.show {
  display: block;
  opacity: 1;
}
header.sticky {
  position: fixed;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  animation: 0.5s ease-in-out 0s normal none 1 running fadeInDown;
}
header nav {
  display: flex;
}
header nav .logo {
  flex: 1;
  display: flex;
  align-items: center;
}
header nav .logo h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
header nav .logo img {
  height: 62px;
}
header nav .nav_links {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
header nav .nav_links a {
  font-size: 14px;
  font-weight: 600;
  position: relative;
}
header nav .nav_links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #223d5b;
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%) skew(30deg);
}
header nav .nav_links a:hover, header nav .nav_links a.active {
  color: #223d5b;
}
header nav .nav_links a:hover::after, header nav .nav_links a.active::after {
  width: 100%;
}
@media screen and (max-width: 768px) {
  header nav .nav_links {
    position: fixed;
    right: -60%;
    top: 86px;
    height: calc(100vh - 86px);
    width: 60%;
    justify-content: flex-start;
    background: #fff;
    flex-direction: column;
    align-items: self-start;
    padding: 32px 24px;
    gap: 32px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }
  header nav .nav_links.show {
    right: 0;
  }
}
header nav .actions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
header nav .actions .toggle {
  display: none;
}
@media screen and (max-width: 768px) {
  header nav .actions .toggle {
    display: block;
  }
}
header nav .actions .download {
  border: 1px solid #223d5b;
  color: #223d5b;
  isolation: isolate;
  border-radius: 80px;
  padding: 8px 24px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  header nav .actions .download {
    display: none;
  }
}
header nav .actions .download::after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background: #223d5b;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 0.3s ease-in-out;
}
header nav .actions .download:hover {
  color: #fff;
}
header nav .actions .download:hover::after {
  width: 100%;
}

main .hero_section {
  padding: 60px 0;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#ebf1f8, #fff);
}
main .hero_section .patteren {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  left: -60px;
  bottom: -60px;
}
main .hero_section .patteren img {
  height: 430px;
  mix-blend-mode: darken;
  opacity: 0.1;
}
@media (max-width: 576px) {
  main .hero_section {
    padding: 52px 0 100px;
  }
}
main .hero_section .img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .hero_section .img img {
  height: 500px;
  animation: swing-up-down 4s ease-in-out infinite;
}
@media (max-width: 576px) {
  main .hero_section .img {
    padding-top: 32px;
  }
}
main .hero_section .text {
  height: 100%;
  gap: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main .hero_section .text .emoji {
  font-size: 12px;
  font-weight: 700;
  color: #223d5b;
  margin-bottom: 16px;
}
main .hero_section .text h1 {
  font-size: 40px;
  color: #181412;
  font-weight: 700;
  line-height: 1.5;
}
main .hero_section .text h1 span {
  font-size: 40px;
  font-weight: 700;
  line-height: inherit;
  display: inline-block !important;
  color: #223d5b;
  text-transform: capitalize;
}
@media (max-width: 576px) {
  main .hero_section .text h1 {
    font-size: 32px;
    line-height: 52px;
  }
  main .hero_section .text h1 span {
    font-size: 32px;
  }
}
main .hero_section .text p {
  margin-bottom: 24px;
  color: #777;
}
@media (max-width: 576px) {
  main .hero_section .text p {
    font-size: 14px;
    line-height: 26px;
  }
}
main .about_section {
  padding: 32px 0;
}
main .about_section .img {
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  main .about_section .img {
    margin-bottom: 24px;
  }
}
main .about_section .img img {
  width: 100%;
  height: 450px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
main .about_section .img .patteren {
  opacity: 0.07;
  width: 190%;
  z-index: -1;
  height: unset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .about_section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 16px;
}
main .about_section .content h2 {
  font-size: 32px;
  font-weight: 600;
  color: #181412;
}
main .about_section .content p {
  color: #777;
}
main .how_section {
  padding: 60px 0;
  background: #EBF1F8;
}
main .how_section h4 {
  text-align: center;
  color: #223d5b;
  margin-top: 16px !important;
  font-weight: bold;
  margin-bottom: 10px !important;
}
main .how_section .subtitle {
  text-align: center;
  color: #181412;
  text-wrap: balance;
  margin-bottom: 54px !important;
}
main .how_section .mockup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .how_section .mockup img {
  max-width: 80%;
}
main .how_section .h-card {
  display: flex;
  flex-direction: row-reverse;
  text-align: end;
  gap: 20px;
  padding: 24px 0;
}
@media screen and (max-width: 576px) {
  main .how_section .h-card {
    flex-direction: row;
    text-align: start;
  }
}
main .how_section .h-card .icon {
  display: flex;
  align-items: center;
}
main .how_section .h-card .icon img {
  display: block;
  min-width: 64px;
  height: 64px;
}
main .how_section .h-card .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .how_section .h-card .text p {
  color: #181412;
  text-wrap: balance;
  line-height: 24px;
}
main .how_section .h-card .text h5 {
  color: #223d5b;
  font-weight: 600;
}
main .how_section .h-card.left {
  flex-direction: row;
  text-align: start;
}
main .gallery {
  padding: 40px 0;
}
main .gallery .appImgs {
  padding: 40px 0;
  position: relative;
}
main .gallery .appImgs h2 {
  color: #223d5b;
  text-align: center;
  font-size: 28px;
  margin-bottom: 8px !important;
}
main .gallery .appImgs p {
  color: #777;
  font-size: 14px;
  text-align: center;
  margin-bottom: 32px !important;
}
main .gallery .appImgs .swiper {
  width: 100%;
  padding: 30px 0;
  position: relative;
  display: flex;
}
main .gallery .appImgs .swiper .swiper-slide {
  overflow: hidden;
  background-position: center;
  background-size: cover;
  width: 234px;
  height: 507px;
  position: relative;
}
@media (max-width: 768px) {
  main .gallery .appImgs .swiper .swiper-slide {
    width: 175.5px;
    height: 380px;
  }
}
main .gallery .appImgs .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
main .gallery .appImgs .swiper .frame {
  width: 267px;
  height: 532px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
@media (max-width: 768px) {
  main .gallery .appImgs .swiper .frame {
    width: 202.5px;
    height: 401px;
  }
}
main .gallery .appImgs .swiper-wrapper {
  height: auto;
}
main .gallery .appImgs .swiper-3d .swiper-slide-shadow,
main .gallery .appImgs .swiper-3d .swiper-slide-shadow-bottom,
main .gallery .appImgs .swiper-3d .swiper-slide-shadow-left,
main .gallery .appImgs .swiper-3d .swiper-slide-shadow-right,
main .gallery .appImgs .swiper-3d .swiper-slide-shadow-top {
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.062745098);
  border: 4px solid #fff;
}
main .gallery .appImgs .swiper-3d .swiper-slide-shadow-left {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
main .gallery .appImgs .swiper-3d .swiper-slide-shadow-right {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
main .download-app {
  width: 100%;
  padding: 30px 0;
  height: 460px;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.7607843137)), url(../images/bg.jpg);
  background-size: cover;
  overflow: hidden;
}
@media (max-width: 768px) {
  main .download-app {
    height: 650px;
  }
  main .download-app .app-imgs {
    margin-top: 60px;
  }
}
main .download-app .container {
  height: 100%;
}
main .download-app .container .row {
  height: 100%;
}
main .download-app .container .row .img {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
@media (max-width: 768px) {
  main .download-app .container .row .img {
    margin-top: 40px;
  }
}
main .download-app .container .row .img img {
  width: 52%;
}
@media (max-width: 576px) {
  main .download-app .container .row .img img {
    width: 62%;
  }
}
main .download-app .container .row h3 {
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  line-height: 72px;
  margin-bottom: 12px;
}
@media (max-width: 450px) {
  main .download-app .container .row h3 {
    font-size: 24px;
    line-height: 42px;
  }
}
main .download-app .container .row p {
  color: #fff;
}
main .download-app .container .row .btns {
  margin-top: 16px;
  display: flex;
  gap: 24px;
}
main .download-app .container .row .btns img {
  max-height: 48px;
}
main .features {
  padding: 60px 0;
}
main .features .title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
main .features .subtitle {
  text-align: center;
  margin-bottom: 32px;
}
main .features .feature-card {
  padding: 24px;
  border-radius: 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
main .features .feature-card img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
main .features .feature-card p {
  font-size: 14px;
  margin: 0;
}

footer {
  padding: 24px 0;
  background: #223d5b;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  footer .container {
    flex-direction: column;
    gap: 24px;
  }
}
footer .container .logo {
  display: flex;
  align-items: center;
}
footer .container .logo img {
  height: 60px;
  filter: brightness(0) invert(1);
}
footer .container .logo h3 {
  color: #fff;
  margin: 0;
  font-size: 22px;
}
footer .container p {
  margin: 0;
  color: #fff;
}
footer .container .socials {
  display: flex;
  align-items: center;
  gap: 16px;
}
footer .container .socials a {
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}
footer .container .socials a:hover {
  background: #fff;
  color: #223d5b;
}

.contact_btn {
  position: fixed;
  left: 20px;
  bottom: 20px;
  background: #181412;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.contact_btn:hover {
  background: #223d5b;
}

.provider_advantages {
  padding: 60px 0;
}
.provider_advantages .img {
  width: 100%;
}
.provider_advantages .img img {
  width: 100%;
}
.provider_advantages .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding-right: 24px;
  position: relative;
}
.provider_advantages .content .patteren {
  opacity: 0.5;
  width: 100%;
  z-index: -1;
  height: unset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .provider_advantages .content {
    padding-right: 0;
  }
}
.provider_advantages .content h3 {
  color: #223d5b;
  font-weight: 600;
  font-size: 24px;
}
.provider_advantages .content p {
  color: #777;
  font-weight: 600;
  font-size: 18px;
}
.provider_advantages .content ul {
  padding-left: 16px;
}
.provider_advantages .content ul li {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #777;
  font-weight: 600;
}
.provider_advantages .content ul li::before {
  content: "\f14a";
  font-family: "Font Awesome 6 Pro";
  display: block;
  color: #223d5b;
  font-weight: normal;
}
.provider_advantages .content h5 {
  color: #223d5b;
  font-weight: 600;
}

.download_app_2 {
  padding: 40px 0;
  background: #ebf1f8;
}
.download_app_2 .img {
  width: 100%;
}
.download_app_2 .img img {
  width: 100%;
}
.download_app_2 .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  height: 100%;
  padding-right: 24px;
  position: relative;
}
.download_app_2 .content h3 {
  color: #223d5b;
  font-weight: 600;
  font-size: 32px;
}
.download_app_2 .content p {
  color: #777;
  font-weight: 600;
  font-size: 18px;
}/*# sourceMappingURL=style.css.map */